.pagination {

    li {
        display: inline-block;

        a {
            display: inline-block;
            text-align: center;
            line-height: 38px;
            width: 40px;
            height: 40px;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }

    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: #ffffff;
            }
        }
    }
}
