.categories{
    box-sizing: border-box;
    font-family: Nunito,Roboto,system-ui,Tahoma,sans-serif;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;

    //overflow: auto;
    //width: 100%;

    &Ul {
        display: flex;
        flex-wrap: wrap;
    }

    &Li {
        -webkit-touch-callout: none;
        background-color: #f9f9f9;
        border-radius: 30px;
        cursor: pointer;
        font-weight: 700;
        margin-right: 10px;
        padding: 13px 30px;
        transition: background-color .1s ease-in-out;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

    }

    &LiActive {
        color: #fff;
        //color: #fe5f1e;
        background-color: #282828;
        -webkit-touch-callout: none;
        border-radius: 30px;
        cursor: pointer;
        font-weight: 700;
        margin-right: 10px;
        padding: 13px 30px;
        transition: background-color .1s ease-in-out;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

}

