@import 'fonts';
@import 'variables';
@import 'normalize';


body {
    background-color: $background;
}

.wrapper {
    width: calc(100vw - 100px);
    height: 100%;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 1400px;

    @media (max-width: 768px) {
        width: calc(100vw - 30px);
        margin-top: 15px;
    }
}

.content {
    padding: 40px 0;


    &__title {
        margin: 35px 0;
        font-size: 35px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        //grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 11px;

        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 1060px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 730px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__ites__cart {
        display: block;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1260px) {
            flex-direction: column-reverse;
            gap: 15px;
        }
    }
}

.container {
    //width: $container-width;
    margin: 0 auto;
    width: 90%;
}

.contentWrapper {
    display: flex;
    justify-content: center;
}

.cart {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content__title {
        display: flex;
        align-items: center;
        font-size: 32px;

        svg {
            position: relative;
            top: -2px;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            path {
                stroke: $black;
                stroke-width: 1.9;
            }
        }
    }

    &__clear {
        display: flex;
        align-items: center;
        cursor: pointer;
        @include noselect();

        span {
            display: inline-block;
            margin-left: 7px;
            color: #b6b6b6;
            font-size: 18px;
        }

        span,
        svg,
        path {
            transition: all $duration ease-in-out;
        }

        &:hover {
            svg {
                path {
                    stroke: darken($color: #b6b6b6, $amount: 50);
                }
            }
            span {
                color: darken($color: #b6b6b6, $amount: 50);
            }
        }
    }

    &__item {
        display: flex;
        width: 100%;
        border-top: 1px solid $gray-line;
        padding-top: 30px;
        margin-top: 30px;

        &-img {
            display: flex;
            align-items: center;
            margin-right: 15px;
            width: 10%;

            img {
                width: 80px;
                height: 80px;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;

            h3 {
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                letter-spacing: 0.01em;
            }

            p {
                font-size: 18px;
                color: #8d8d8d;
            }
        }

        &-count {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 13%;

            &-minus {
                svg {
                    path:first-of-type {
                        display: none;
                    }
                }

                &--disabled {
                    opacity: 0.5;
                    border-color: #b6b6b6;

                    &:hover {
                        background: #f3f3f3;
                    }

                    svg{
                        path {
                            fill: #b6b6b6;
                        }
                    }
                }
            }

            b {
                font-size: 22px;
            }
        }

        &-price {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33%;

            b {
                font-weight: bold;
                font-size: 22px;
                letter-spacing: 0.01em;
            }
        }

        &-remove {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 4%;

            .button {
                border-color: darken($color: $gray-line, $amount: 10);
            }

            svg {
                transform: rotate(45deg);

                path {
                    fill: darken($color: $gray-line, $amount: 15);
                }
            }

            .button {
                svg {
                    width: 11.5px;
                    height: 11.5px;
                    position: relative;
                }
                &:hover,
                &:active {
                    border-color: darken($color: $gray-line, $amount: 80);
                    background-color: darken($color: $gray-line, $amount: 80);
                }
            }
        }
    }

    &__bottom {
        margin: 50px 0;

        &-details {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 22px;

                &:last-of-type {
                    b {
                        color: $orange;
                    }
                }
            }
        }

        &-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            .go-back-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 210px;

                border-color: darken($color: $gray-line, $amount: 10);

                span {
                    color: darken($color: $gray-line, $amount: 20);
                    font-weight: 500;
                    font-weight: 600;
                }

                &:hover {
                    background-color: darken($color: $gray-line, $amount: 90);
                    border-color: darken($color: $gray-line, $amount: 90);

                    span {
                        color: $gray-line;
                    }
                }

                svg {
                    margin-right: 12px;
                    path {
                        fill: transparent;
                        stroke-width: 2;
                    }
                }
            }

            .pay-btn {
                font-size: 16px;
                font-weight: 600;
                width: 210px;
                padding: 16px;
            }
        }
    }

    &--empty {
        margin: 0 auto;
        width: 560px;
        text-align: center;

        h2 {
            font-size: 32px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            line-height: 145.4%;
            letter-spacing: 0.01em;
            color: #777777;
        }

        span {
            position: relative;
            top: 2px;
        }

        img {
            display: block;
            width: 300px;
            margin: 45px auto 60px;
        }

        .button--black {
            padding: 12px 0 14px;
            width: 230px;
            margin: 0 auto;
            font-weight: 600;
            font-size: 18px;
        }
    }
}
