@import "src/app/variables";

.header {
    border-bottom: 1px solid $gray-line;
    padding: 40px 0;
    
    @media (max-width: 320px) {
        padding: 5px;
    }

    &Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;


        @media (max-width: 768px) {
            flex-direction: column;
            gap: 15px;
        }
    }

    &Logo {
        display: flex;

        img {
            margin-right: 15px;
        }

        h1 {
            color: #181818;
            font-size: 24px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 800;
        }

        p {
            color: #7b7b7b;
        }
    }

    &Cart {
        max-width: 820px;
        outline: none;
        //margin: 90px auto;
    }

    span {
        font-size: 16px;
        font-weight: 600;
        color: white;
    }

    svg {
        margin-bottom: 1px;
        margin-right: 8px;
    }
}

.button {
    -webkit-touch-callout: none;
    background-color: #fe5f1e;
    border: 1px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    //display: inline-block;
    min-width: 100px;
    padding: 10px 20px;
    text-align: center;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    align-items: center;
    display: flex;

    justify-content: space-between;

    &Delimetr {
        background-color: hsla(0,0%,100%,.25);
        height: 25px;
        margin-left: 14px;
        margin-right: 14px;
        width: 1px;
    }
}


