.search {
    position: relative;

    &Input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 12px 20px;
        padding-left: 42px;
        //width: 300px;
        font-size: 16px;
        caret-color: #fe5f1e;
    }

    &Icon {
        width: 22px;
        height: 22px;
        opacity: 0.5;
        position: absolute;
        //cursor: pointer;
        left: 12px;
        top: 12px;
        color: #fe5f1e;
    }

    &IconDelete {
        width: 22px;
        height: 22px;
        opacity: 0.5;
        color: #fe5f1e;
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
    }

    &IconDelete:hover {
        opacity: 0.8;
    }
}