
.pizzaBlock {
    width: 280px;
    text-align: center;
    margin-bottom: 65px;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.03);
    }

    &-wrapper {
        display: flex;
        justify-content: center;
    }

    &Image {
        width: 260px;
    }

    &Title {
        font-size: 20px;
        font-weight: 900;
        //letter-spacing: 1%;
        margin-bottom: 20px;
    }

    &Selector {
        display: flex;
        background-color: #f3f3f3;
        border-radius: 10px;
        flex-direction: column;
        padding: 6px;

    }

    &SelectorUl {
        display: flex;
        flex: 1;

        &:first-of-type {
            margin-bottom: 6px;
        }
    }

    &SelectorLi {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        //@include noselect();
    }

    &LiActive {
        padding: 8px;
        flex: 1;
        font-weight: 600;
        font-size: 14px;
        background: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        cursor: auto;
    }

    &Bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    &Price {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.015em;
    }
}

.button {
    display: inline-block;
    background-color: #FE5F1EFF;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color  ease-in-out, border-color  ease-in-out;
    border: 1px solid transparent;
    //@include noselect();

    &,
    span {
        color: #fff;
    }

    i,
    span,
    path,
    svg {
        transition: all ease-in-out;
    }

    &:hover {
        background-color: darken(#FE5F1EFF, 8%);
    }

    &:active {
        background-color: darken(#FE5F1EFF, 12%);
        transform: translateY(1px);
    }

    &--circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        min-width: 32px;
        padding: 0;
        border-width: 2px;
    }

    &--black {
        background-color: black;

        &:hover,
        &:active {
            background-color: lighten($color: black, $amount: 10);
        }
    }

    &Outline {
        background-color: #fff;
        border-color: #FE5F1EFF;
        &,
        span {
            color: #FE5F1EFF;
        }

        svg {
            path {
                fill: #FE5F1EFF;
            }
        }

        &:hover {
            background-color: #FE5F1EFF;

            &,
            span {
                color: #fff;
            }

            svg {
                path {
                    fill: #fff;
                }
            }
        }

        &:active {
            background-color: darken(#FE5F1EFF, 8%);
        }
    }

    &__delimiter {
        width: 1px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.25);
        margin-left: 14px;
        margin-right: 14px;
    }

    &Add {
        svg {
            margin-right: 2px;
        }

        span {
            font-weight: 600;
            font-size: 16px;
        }

        &:hover {
            i {
                background-color: #fff;
                color: #FE5F1EFF;
            }
        }

        i {
            display: inline-block;
            border-radius: 30px;
            background-color: #FE5F1EFF;
            color: #fff;
            font-weight: 600;
            width: 22px;
            height: 22px;
            font-style: normal;
            font-size: 13px;
            line-height: 22px;
            position: relative;
            top: -1px;
            left: 3px;
        }
    }

    &--cart {
        display: flex;
        align-items: center;
        line-height: 23px;
        padding: 12px 25px;

        svg {
            margin-right: 8px;
            margin-bottom: 1px;
        }

        span {
            font-weight: 600;
            font-size: 16px;
        }
    }
}