.sort {
    position: relative;

    &LabelSpan {
        cursor: pointer;
    }

    &Label {
        align-items: center;
        display: flex;
    }

    ul {
        overflow: hidden;
    }

    li {
        cursor: pointer;
        padding: 12px 20px;
    }

    &Popup {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,.09);
        margin-top: 15px;
        padding: 10px 0;
        position: absolute;
        right: 0;
        overflow: hidden;
    }

    &PopupActive {
        color: #fe5f1e;
        font-weight: 700;
    }

}